<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
	 
	<!-- 开启注释扫描 -->
	<context:component-scan base-package="com.his" />
	
	<!-- 视图解析器 -->
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

		<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor> 
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/**" />
			<bean class="com.his.interceptor.LoginInterceptor"/>		
		</mvc:interceptor>
	</mvc:interceptors>
		

	
	<!-- 前端控制器不拦截的资源 -->
<!-- 	<mvc:resources location="/resource/image/" mapping="/resource/image/**"/>
	<mvc:resources location="/resource/js/" mapping="/resource/js/**"/>
	<mvc:resources location="/static/" mapping="/WEB-INF/jsp/static/**"/>
	<mvc:resources location="/lib/" mapping="/WEB-INF/jsp/lib/**"/>
	<mvc:resources location="/big/" mapping="/WEB-INF/jsp/temp/big/**"/>
	<mvc:resources location="/" mapping="**.html"/> 
	<mvc:resources location="/" mapping="**.js"/> 
	<mvc:resources location="/" mapping="**.css"/> 
	<mvc:resources location="/" mapping="**.png"/> 
	<mvc:resources location="/" mapping="**.gif"/> 
	<mvc:resources location="/" mapping="**.jpg"/> -->
	
	<!-- 开启SpringMVC框架注解支持 -->
	<!-- 自动加载处理映射器和处理适配器 -->
	<mvc:annotation-driven />

	<mvc:default-servlet-handler/>
	

</beans>